@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

body {
    margin: auto;
    width: 960px;
}

#logInBtn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

table {
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.loss {
    display: flex;
    margin-top: 10px;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px;
}

.loss a {
    color: inherit;
    text-decoration: none;
    margin: 10px;
    margin-top: 5px;
}

.homeLogo {
    /* text-align: center; */
    margin-top: 20px;
}

.homeLogo a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.homeLogo a:hover {
    margin-left: -20px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.logInBox {
    text-align: center;
    margin-top: 100px;

}

/* loginIcon 시작*/
#icons {
    display: inline-flex;
    gap: 20px;
}

.loginIcon {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginIcon:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-btn {
    display: inline-block;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #3C1E1E;
    font-weight: bold;
    margin-top: 1px;
}

.loginIcon img {
    width: 50px;
    height: 50px;
}

/* loginIcon 끝 */